<div class="row">
{{#if hasLabel}}
    <label class="control-label {{ labelWidthClasses }}">{{label}}</label>
{{else}}
    <label class="control-label {{ labelWidthClasses }} sr-only"></label>
{{/if}}

{{#if isTextarea}}
  {{textarea value=value focus-out='showErrors' type=type class="form-control" placeholder=placeholder autocomplete=autocomplete enter='enter' readonly=readonly disabled=disabled}}
{{else}}
  {{#if inputWidthClasses}}
      <div class="{{ inputWidthClasses }}">
        {{input value=value focus-out='showErrors' type=type class="form-control" placeholder=placeholder autocomplete=autocomplete enter='enter' readonly=readonly disabled=disabled}}
      </div>
  {{else}}
    {{input value=value focus-out='showErrors' type=type class="form-control" placeholder=placeholder autocomplete=autocomplete enter='enter' readonly=readonly disabled=disabled}}
  {{/if}}
{{/if}}

{{#if hasSubtext}}
    <span class="subtext muted text-muted">{{ subtext }}</span>
{{/if}}

{{#if hasFeedback}}
    <span class="glyphicon glyphicon-ok form-control-feedback form-control-feedback-not-error"></span>
    <span class="glyphicon glyphicon-warning-sign form-control-feedback form-control-feedback-only-error"></span>
{{/if}}

{{yield}}

<div class="help-block with-errors">
  {{#if hasErrors}}
    {{#each errors as |error|}}
        <div>{{error}}</div>
    {{/each}}
  {{/if}}
</div>
</div>