{{#if hasLabel}}
    <label class="control-label {{ labelWidthClasses }}">{{label}}</label>
{{else}}
    <label class="control-label {{ labelWidthClasses }} sr-only"></label>
{{/if}}


<div class="{{ inputWidthClasses }}">
    {{#if isTextarea}}
        {{textarea value=value focus-in='focused' focus-out='blurred' type=type class=inputClass placeholder=placeholder autocomplete=autocomplete enter='enter' readonly=readonly disabled=disabled}}
    {{else}}
        {{#if isPhoneNumber}}
            {{input value=value focus-in='focused' focus-out='blurred' type=type class=inputClass placeholder=placeholder autocomplete=autocomplete enter='enter' readonly=readonly disabled=disabled mask=mask}}
        {{else}}
            {{input value=value focus-in='focused' focus-out='blurred' type=type class=inputClass placeholder=placeholder autocomplete=autocomplete enter='enter' readonly=readonly disabled=disabled mask=mask}}
        {{/if}}
    {{/if}}
</div>

{{#if hasSubtext}}
    <span class="subtext muted text-muted">{{ subtext }}</span>
{{/if}}

{{#if hasFeedback}}
    <span class="glyphicon glyphicon-ok form-control-feedback form-control-feedback-not-error"></span>
    <span class="glyphicon glyphicon-warning-sign form-control-feedback form-control-feedback-only-error"></span>
{{/if}}

{{#if hasErrors}}
<div class="help-block with-errors">
    {{#each errors as |error|}}
        <div>{{error}}</div>
    {{/each}}
</div>
{{/if}}

{{yield}}
