<div class="steps col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <div class="step active row">
        <table class="table hidden">
            <thead>
            <tr>
                <td>
                    Property
                </td>
                <td>
                    Value
                </td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>destinationCustomerDomainName</td>
                <td>{{destinationCustomerDomainName}}</td>
            </tr>

            <tr>
                <td>model.email / model.sourceFullDomainNameRecord.email</td>
                <td>{{model.email}} / {{model.sourceFullDomainNameRecord.email}}</td>
            </tr>

            <tr>
                <td>muteInitialWhoisErrors / muteWhoisErrors / shouldWarnAboutBelowErrors</td>
                <td>{{muteInitialWhoisErrors}} / {{muteWhoisErrors}} / {{shouldWarnAboutBelowErrors}}</td>
            </tr>

            <tr>
                <td>newDestinationCustomerDomainName</td>
                <td>{{newDestinationCustomerDomainName}}</td>
            </tr>

            <tr>
                <td>newDestinationFullDomainName</td>
                <td>{{newDestinationFullDomainName}}</td>
            </tr>

            <tr>
                <td>model.destinationFullDomainName</td>
                <td>{{model.destinationFullDomainName}}</td>
            </tr>

            <tr>
                <td>model.newDestinationCustomerDomainName</td>
                <td>{{model.newDestinationCustomerDomainName}}</td>
            </tr>

            <tr>
                <td>hasValidNewDestinationCustomerDomainName</td>
                <td>{{hasValidNewDestinationCustomerDomainName}}</td>
            </tr>

            <tr>
                <td>isFetchingWhois</td>
                <td>{{isFetchingWhois}}</td>
            </tr>

            <tr>
                <td>isFetchingAvailability</td>
                <td>{{isFetchingAvailability}}</td>
            </tr>

            <tr>
                <td>isFetchingSomething</td>
                <td>{{isFetchingSomething}}</td>
            </tr>

            <tr>
                <td>isEditingSource</td>
                <td>{{isEditingSource}}</td>
            </tr>

            <tr>
                <td>hasSourceRecord / hasDestinationRecord</td>
                <td>{{hasSourceRecord}} / {{ hasDestinationRecord }}</td>
            </tr>

            <tr>
                <td>model.newSourceFullDomainName</td>
                <td>{{model.newSourceFullDomainName}}</td>
            </tr>

            <tr>
                <td>model.sourceFullDomainName</td>
                <td>{{model.sourceFullDomainName}}</td>
            </tr>

            <tr>
                <td>availabilityStatus</td>
                <td>{{availabilityStatus}}</td>
            </tr>

            <tr>
                <td>hasDestinationAvailabilityRecord</td>
                <td>{{hasDestinationAvailabilityRecord}}</td>
            </tr>

            <tr>
                <td>model.destinationAvailabilityRecord.id</td>
                <td>{{model.destinationAvailabilityRecord.id}}</td>
            </tr>

            <tr>
                <td>isFetchingSomething / model.fetchingDestinationAvailabilityRecord</td>
                <td>{{isFetchingSomething}} / {{model.fetchingDestinationAvailabilityRecord}}</td>
            </tr>
            <tr>
                <td>isFailedToResolveSourceWhois</td>
                <td>{{isFailedToResolveSourceWhois}}</td>
            </tr>
            <tr>
                <td>isEditingEditDestinationFullDomainName</td>
                <td>{{isEditingEditDestinationFullDomainName}}</td>
            </tr>
            <tr>
                <td>showModelingBar</td>
                <td>{{showModelingBar}}</td>
            </tr>

            <tr>
                <td>inputBoxClass</td>
                <td>{{inputBoxClass}}</td>
            </tr>

            <tr>
                <td>isAvailable / isAvailableAndSettled</td>
                <td>{{isAvailable}} / {{isAvailableAndSettled}}</td>
            </tr>

            </tbody>
        </table>

        {{#unless isEditingSource}}
            <h1 class="label-free-domain-name">
                My Free .feedback
            </h1>

            {{#unless isFetchingSomething}}
                {{#unless isAvailableAndSettled}}
                    {{#unless isEditingDestination}}
                        <div class="" style="color: #a94442; font-weight: bold;">That domain is unavailable.</div>
                    {{/unless}}
                {{/unless}}

                {{#if shouldWarnAboutBelowErrors}}
                    <div class="" style="color: #a94442; font-weight: bold;">The whois fields below need attention.</div>
                {{/if}}
            {{/unless}}

            <div class="col-sm-12 full-domain-name-block">
                {{#validated-input
                    type="text"
                    data-minlength="3"
                    tabindex="0"
                    autocomplete="off"
                    placeholder=""
                    value=model.newDestinationCustomerDomainName
                    errors=errors.model.domainName
                    enter='enterWasHitOnDestinationDomainName'
                    disabled=model.loading
                    mask='^[\w-]*$'
                    disabled=isFetchingSomething
                    blurred='blurredMainInputBox'
                    focused='focusedMainInputBox'
                    hasFeedback=false
                    class=inputBoxClass
                    inputClasses='normal'
                    dot='destinationCustomerDomainNameDotted'
                    actionReceiver=emailField
                }}

                    {{#unless isEditingDestination}}
                        {{#if isAvailable}}
                            <span class="glyphicon glyphicon-ok form-control-feedback form-control-feedback-success"></span>
                        {{/if}}

                        {{#unless isAvailable}}
                            <span class="glyphicon glyphicon-warning-sign form-control-feedback form-control-feedback-error"></span>
                        {{/unless}}
                    {{/unless}}

                    <div class="pull-out" style="position: relative;">
                        <div class="btn-add-controls">
                            {{#unless isEditingDestination}}
                                {{#ladda-button class="btn-add btn btn-primary ladda-button" data-style="slide-left" tabindex="1" action='next' disabled=nextIsDisabled spinning=isFetchingSomething}}
                                    Next
                                {{/ladda-button}}
                            {{/unless}}

                            {{#if isEditingDestination}}
                                {{#ladda-button class="btn-add btn btn-primary ladda-button" data-style="slide-left" tabindex="1" action='finishUpdateDestinationCustomerDomainName' disabled=hasInvalidNewDestinationCustomerDomainName spinning=isFetchingSomething}}
                                    Check
                                {{/ladda-button}}
                            {{/if}}
                        </div>
                    </div>
                {{/validated-input}}
            </div>
        {{/unless}}

        {{#if shouldShowWhoisTable}}
            <div id="whois" class="section col-sm-12">

                {{#unless shouldEditSourceFullDomainName}}
                    <div class="whois-source-block">
                        Importing whois from <span>{{ model.sourceFullDomainName }}</span> (<a href="#" {{action 'editSourceFullDomainName'}}>change</a>) (<a href="#" {{action 'refreshAvailabilityCheck'}}>refresh</a>)
                    </div>
                {{/unless}}

                {{#if shouldEditSourceFullDomainName}}
                    <div class="whois-table form-horizontal">
                        <div class="row">

                            <!-- I am using the whois-table wrap because I'm lazy. -->
                            <div class="form-group col-sm-12">
                                <div class="row">
                                    <label class="col-sm-3 control-label {{ labelWidthClasses }}">Import whois</label>
                                    <div class="col-sm-9">
                                        {{input class="form-control" type="text" placeholder="example: oracle.com" disabled=isFetchingWhois value=model.newSourceFullDomainName mask='^[\w-]*$' enter='selectModelFromDomainName'}}

                                        <div class="btn-copy-controls">
                                            {{#ladda-button class="btn-add btn btn-primary ladda-button" data-style="slide-left" tabindex="1" action='selectModelFromDomainName' disabled=copyIsDisabled spinning=isFetchingWhois}}
                                                Import
                                            {{/ladda-button}}
                                        </div>
                                    </div>

                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/if}}

                {{#if isFailedToResolveSourceWhois }}
                    <small class="code">We weren't able to resolve the source whois information. Please fill out this form completely.</small>
                {{/if}}

                {{#if model.fetchingSourceFullDomainNameRecord}}
                    Loading...
                {{else}}
                    {{whois-table model=model.sourceFullDomainNameRecord email=model.email errors=errors muteInitialErrors=muteInitialWhoisErrors muteErrors=muteWhoisErrors}}

                    <div class="btn-additional-next-for-mobile visible-xxs-inline-block">
                        {{#ladda-button class="btn-add btn btn-primary ladda-button" data-style="slide-left" tabindex="1" action='next' disabled=nextIsDisabled spinning=isFetchingSomething}}
                            Next
                        {{/ladda-button}}
                    </div>

                {{/if}}
            </div>
        {{/if}}
    </div>
</div>
