<div class="steps col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <div class="step active">
        <div>
            <!--<h1>Terms and Conditions</h1>-->

            {{#if model.suggestedReservationMode}}
                <div class="alert alert-info mt">
                    You are in <b>Suggested Registration</b> mode. An email will be sent to <b>{{model.email}}</b> with
                    more information.
                </div>
            {{else}}
                <div class="ui horizontal divider">Terms of Service</div>

                <textarea class="form-control mt normal textarea-terms-and-conditions" style="overflow-y: scroll; width: 100%;">{{#if contextService.termsAndConditions.isPending}}Loading...{{/if}}{{#if contextService.termsAndConditions.isRejected}}Failed to load!{{/if}}{{#if contextService.termsAndConditions.isFulfilled}}{{contextService.termsAndConditions.value}}{{/if}}</textarea>

                <a style="margin-left: 15px;" target="_blank" href="{{contextService.termsAndConditionsUrl}}">Expand Terms and Conditions</a>

                <div class="mt">
                    {{input type='checkbox' name='acceptedTerms' class='labelauty' id='acceptedTerms' checked=acceptedTerms disabled=spinning }}
                    <label for="acceptedTerms">
                        <span class="labelauty-image labelauty-checked-image"></span>
                        <span class="labelauty-image labelauty-unchecked-image"></span>
                        <span class="labelauty-label">I agree to the terms of service for <b>Internet.BS</b></span>
                    </label>
                </div>

                <div class="ui horizontal divider mt">&nbsp;</div>
            {{/if}}

            <div>
                {{#if contextService.termsAndConditions.isPending}}Please wait while the TOS downloads...{{/if}}
                {{#if contextService.termsAndConditions.isRejected}}The TOS failed to download. Please refresh the page.{{/if}}
                {{#if contextService.termsAndConditions.isFulfilled}}
                    {{#ladda-button class='btn btn-primary' action='attemptNext' spinning=spinning disabled=disabled}}
                        Finish
                    {{/ladda-button}}
                {{/if}}
            </div>
        </div>
    </div>
</div>